.player {
    background: rgba(24, 24, 24);
    position: fixed;
    display: grid;
    grid-template-columns: [col1] 12.5% [col2] 12.5% [col3] 50% [col4] 25% [col5];
    grid-template-rows: [row1] 50% [row2] 50% [row3];
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.album-cover {
    display: flex;
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row3;
    align-self: center;
    justify-content: center;
}

.album-cover > img {
    object-fit: scale-down;
    max-width: 45%;
    margin: 0;
}

.song {
    display: block;
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row1;
    grid-row-end: row2;
    font-size: 1rem;
    font-weight: 400;
    place-self: end start;
    text-align: left;
    width: 100%;
}

.song > a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.artist {
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row2;
    grid-row-end: row3;
    font-size: 0.8rem;
    font-weight: 200;
    place-self: start start;
    text-align: left;
    width: 100%;
}

.artist > a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b3b3b3;
}

.artist > a:hover {
    color: white;
}

.controller {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row1;
    grid-row-end: row2;
}

.controller > img {
    object-fit: scale-down;
}

#pin {
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center end;
    max-width: 25%;
}

#shuffle {
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: center end;
    max-width: 25%;
}

#fast-backwards {
    grid-column-start: 3;
    grid-column-end: 4;
    place-self: center end;
    max-width: 25%;
}

#play {
    grid-column-start: 4;
    grid-column-end: 5;
    place-self: center center;
    max-width: 40%;
}

#fast-forward {
    grid-column-start: 5;
    grid-column-end: 6;
    place-self: center start;
    max-width: 25%;
}

#repeat {
    grid-column-start: 6;
    grid-column-end: 7;
    place-self: center start;
    max-width: 25%;
}

.playback {
    display: grid;
    grid-template-columns: [playback-col1] 12.5% [playback-col2] 75% [playback-col3] 12.5% [playback-col4];
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row2;
    grid-row-end: row3;
}

.playback > p {
    margin: 0;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    width: 100%;
}

#playback-start {
    grid-column-start: playback-col1;
    grid-column-end: playback-col2;
    cursor: default;
    user-select: none;
    color: white;
}

#playback-bar {
    grid-column-start: playback-col2;
    grid-column-end: playback-col3;
    align-self: center;
    width: 100%;
    height: 10%;
}

svg {
    display: block;
    margin: auto;
    border-radius: 1vh;
}

#playback-end {
    grid-column-start: playback-col3;
    grid-column-end: playback-col4;
    cursor: default;
    user-select: none;
    color: white;
}

.volume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: col4;
    grid-column-end: col5;
    grid-row-start: row1;
    grid-row-end: row3;
}

.volume > img {
    object-fit: scale-down;
    max-width: 25%;
    max-height: 25%;
}

#volume {
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center end;
}

#volume-bar {
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: center center;
    width: 75%;
}

.volume > label {
    display: none;
}