/* Dark theme for the pin modal. */
#modal {
    color: #d3d3d3;
}

.modal-content {
    background-color: #181818;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-header {
    border-bottom: 1px solid #343a40;
}

.modal-footer {
    border-top: 1px solid #343a40;
}

.form-control {
    color: #dee2e6;
    background-color: #000;
    border: 1px solid #6c757d;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
}

.form-control:focus {
    color: #dee2e6;
    background-color: #191d21;
    border-color: #b3d7ff;
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #343a40;
    opacity: 1;
}

.input-group-text {
    color: #dee2e6;
    background-color: #343a40;
    border: 1px solid #6c757d;
}

.form-select {
    color: #dee2e6;
    background: #000 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat;
    border: 1px solid #6c757d;
}

.form-select:focus {
    border-color: #80bdff;
}

.form-select:focus::-ms-value {
    color: #dee2e6;
    background-color: #000;
}

.form-select:disabled {
    color: #ced4da;
    background-color: #343a40;
}

.form-select::-ms-expand {
    display: none;
}

.form-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #dee2e6;
}

/* Styles for the player. */
.player {
    background: #181818;
    position: fixed;
    display: grid;
    grid-template-columns: [col1] 12.5% [col2] 12.5% [col3] 50% [col4] 25% [col5];
    grid-template-rows: [row1] 50% [row2] 50% [row3];
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.album-cover {
    display: flex;
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row3;
    align-self: center;
    justify-content: center;
}

.album-cover > img {
    object-fit: scale-down;
    max-width: 45%;
    margin: 0;
}

.song {
    display: block;
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row1;
    grid-row-end: row2;
    font-size: 1rem;
    font-weight: 400;
    place-self: end start;
    text-align: left;
    width: 100%;
}

.song > a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #d3d3d3;
}

.song > a:hover {
    text-decoration: underline;
}

.artist {
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row2;
    grid-row-end: row3;
    font-size: 0.8rem;
    font-weight: 400;
    place-self: start start;
    text-align: left;
    width: 100%;
}

.artist > a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b3b3b3;
    text-decoration: none;
}

.artist > a:hover {
    color: #d3d3d3;
    text-decoration: underline;
}

.controller {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row1;
    grid-row-end: row2;
}

.controller > img {
    object-fit: scale-down;
}

#pin {
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center end;
    max-width: 25%;
}

#shuffle {
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: center end;
    max-width: 25%;
}

#fast-backwards {
    grid-column-start: 3;
    grid-column-end: 4;
    place-self: center end;
    max-width: 25%;
}

#play {
    grid-column-start: 4;
    grid-column-end: 5;
    place-self: center center;
    max-width: 40%;
}

#fast-forward {
    grid-column-start: 5;
    grid-column-end: 6;
    place-self: center start;
    max-width: 25%;
}

#repeat {
    grid-column-start: 6;
    grid-column-end: 7;
    place-self: center start;
    max-width: 25%;
}

.playback {
    display: grid;
    grid-template-columns: [playback-col1] 12.5% [playback-col2] 75% [playback-col3] 12.5% [playback-col4];
    grid-column-start: col3;
    grid-column-end: col4;
    grid-row-start: row2;
    grid-row-end: row3;
}

.playback > p {
    margin: 0;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    width: 100%;
}

#playback-start {
    grid-column-start: playback-col1;
    grid-column-end: playback-col2;
    cursor: default;
    user-select: none;
}

#playback-bar {
    grid-column-start: playback-col2;
    grid-column-end: playback-col3;
    align-self: center;
    width: 100%;
    height: 10%;
}

svg {
    display: block;
    margin: auto;
    border-radius: 1vh;
}

#playback-end {
    grid-column-start: playback-col3;
    grid-column-end: playback-col4;
    cursor: default;
    user-select: none;
}

.volume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: col4;
    grid-column-end: col5;
    grid-row-start: row1;
    grid-row-end: row3;
}

.volume > img {
    object-fit: scale-down;
    max-width: 25%;
    max-height: 25%;
}

#volume {
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center end;
}

#volume-bar {
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: center center;
    width: 75%;
}

.volume > label {
    display: none;
}