body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    color: #FFFFFF;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 85%;
    background: rgba(24, 24, 24);
    transition: all 300ms linear;
}

#sidebar.active {
    left: -15%;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 110%;
    top: 2%;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #ffffff;
    margin: 5px 0;
    cursor: pointer;
}

#sidebar div.list div.item {
    padding: 15px 10px;
    border-bottom: 1px solid #444;
    color: #fcfcfc;
    font-size: 1.5rem;
    text-align: center;
}

#sidebar div.list div.item a {
    color: #fcfcfc;
    text-decoration: none;
}

#left {
    position: relative;
}

#left img {
    position: absolute;
    top: 0;
    left: 0;
}

#right {
    position: relative;
}

#right img {
    position: absolute;
    top: 0;
    right: 0;
}

#list {
    margin: 2em auto;
    text-align: center;
    padding: 0;
    list-style: none;
}

#list li {
    line-height: 3rem;
    font-size: 2rem;
    opacity: 0;
    animation: fadeIn 1s ease-in both;
}

#list li:nth-child(2) {
    animation-delay: 1.5s;
}

#list li:nth-child(3) {
    animation-delay: 3s;
}

#list li:nth-child(4) {
    animation-delay: 4.5s;
}

#list li:nth-child(5) {
    animation-delay: 6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}