body {
    background-color: black;
    font-family: "Montserrat", sans-serif;
    color: #d3d3d3;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.sidebar {
height: 100%;
width: 85vw;
position: fixed;
top: 0;
left: 0;
background-color: #111;
padding-top: 60vh;
z-index: 1;
overflow-x: hidden;
transition: 0.5s;
white-space: nowrap;
}

.sidebar a {
  padding: 8vw 8vw 8vh 32vh;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar{
  position: absolute;
  top: 0;
  right: 25vw;
  font-size: 36px;
  margin-left: 50vw;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {

  margin-right: 30vw
}

#main {
	transition: margin-left .5s;
	padding: 16vw;
	margin-left: 85vw;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15vh;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#left {
    position: relative;
}

#left img {
    position: absolute;
    top: 0;
    left: 0;
}

#right {
    position: relative;
}

#right img {
    position: absolute;
    top: 0;
    right: 0;
}

#list {
    margin: 2em auto;
    text-align: center;
    padding: 0;
    list-style: none;
}

#list li {
    line-height: 2rem;
    font-size: 2rem;
    opacity: 0;
    animation: fadeIn 1s ease-in both;
}

#list li:nth-child(2) {
    animation-delay: 1.5s;
}

#list li:nth-child(3) {
    animation-delay: 3s;
}

#list li:nth-child(4) {
    animation-delay: 4.5s;
}

#list li:nth-child(5) {
    animation-delay: 6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}