.playlistpage{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto auto auto;
    font-family: 'Montserrat', sans-serif;

}

.header{
    border: 2px;
    font-size: 1.6rem;
    text-align: left;
    background-color: #000000;
    color:  #000000;
    grid-column: 1 / span 12;
}

.logo{

}

.userplaylists{
    border: 2px;
    grid-column: 1 / span 4;
    grid-row: 2 / 5;
    background-color: #000000;
    position: sticky;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.playlist{
    border: 2px;
    border-radius: 4px;
    grid-column: 5 / span 4;
    grid-row: 2 / 5;
    background-color: gray;
    text-align: center;
    font-size: 1.6rem;
    color: #000000;

}

.pinDisplay{
    border: 2px;
    /*border-radius: 4px;*/
    grid-column: 9 / span 4;
    grid-row: 2 / 5;
    right: 0;
    background-color: #000000;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.col-sm-4.item_title span {
    color: #000;
    font-size: 42px;
    margin-top: 137px !important;
    position: absolute;
    margin-left: -100px;
}
a.playlist_item {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a.playlist_item:hover {
    color: #3ee77a;
}
a.active_menu{
   color: #3ee77a;
}