.playlistpage {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto;
    font-family: 'Montserrat', sans-serif;
}

.userplaylists {
    grid-column: 2/ span 1;
    grid-row: 1 / 5;
    background-color: #000000;
    text-align: left;
    font-size: 1.2rem;
    color: white;
    height: 85%;
    width: 60%;
    top: 0;
    margin-left: 42%;
}

ul.playlist_menu {
    list-style-type: none;
    grid-column: 2 / span 1;
    text-align: left;
    padding-left: 3px;
    color: #ffffff;
}

/*For user playlist menu link text(s)*/
a {
    color: #fff;
    text-decoration: none;
}

.playlist {
    border: 2px;
    border-radius: 4px;
    grid-column: 3 / span 1;
    grid-row: 1 / 5;
    background-color: rgba(24, 24, 24);
    text-align: justify;
    font-size: 1rem;
    color: #ffffff;
    margin-right: 8vw;
    height: 91%;
    overflow: scroll;
    width: 700px;
    /*z-index: -1;*/
}

.col-sm-4.item_title span {
    color: white;
    font-size: 42px;
    margin-top: 137px !important;
    position: relative;
}

.playlist::-webkit-scrollbar {
    width: 10px;
}

.playlist::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

.table {
    color: white;
}
