.playlistpage {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto auto auto;
    font-family: 'Montserrat', sans-serif;
}

.userplaylists {
    border: 2px;
    grid-column: 3/ span 1;
    grid-row: 2 / 5;
    background-color: #000000;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    height: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 261px;
}

ul.playlist_menu{
    list-style-type: none;
    width: 100%;
    padding-left: 3px;
    padding-right: 1px;
    text-align: left;
}

.playlist {
    border: 2px;
    border-radius: 4px;
    grid-column: 4 / span 1;
    grid-row: 2 / 5;
    background-color: gray;
    text-align: justify;
    font-size: 1rem;
    color: #000000;
    margin-right: 208px;
    margin-left: -5px;
    padding: 0 10px;
    height: 91%;
    overflow: auto;
    float: left;
    position: relative;
}

.pinDisplay {
    border: 2px;
    grid-column: 6 / span 2;
    grid-row: 2 / 5;
    right: 0;
    background-color: #000000;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.col-sm-4.item_title span {
    color: #000;
    font-size: 42px;
    margin-top: 137px !important;
    position: relative;
}

.playlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
}
