.playlistpage{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    font-family: 'Montserrat', sans-serif;

}

.header{
    border: 2px;
    font-size: 1.6rem;
    text-align: left;
    background-color: #000000;
    color:  #000000;
    grid-column: 1 / span 12;
}

.logo{

}

.userplaylists{
    border: 2px;
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
    background-color: #000000;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.playlist{
    border: 2px;
    border-radius: 2px;
    grid-column: 3 / span 7;
    grid-row: 2 / 4;
    background-color: lightgray;
    text-align: center;
    font-size: 1.6rem;
    color: #000000;

}

.pinDisplay{
    border: 2px;
    /*border-radius: 4px;*/
    grid-column: 10 / span 3;
    grid-row: 2 / 4;
    right: 0;
    background-color: #000000;
    text-align: center;
    font-size: 1rem;
    color: #000000;
}

.col-sm-4.item_title span {
    color: #000;
    font-size: 42px;
    margin-top: 137px !important;
    position: absolute;
    margin-left: -157px;
}