<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Spotipyn - Login Page</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" sizes="32x32"/>
</head>
<body>
<h1>You have been successfully logged into Spotify!</h1>
<p>This week, our goal is to work on player implementation!</p><br>
<a href="/sign_out">Sign Out</a>

</body>