<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Spotipyn - Player</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" sizes="32x32"/>
</head>
<body>
<div id = "right">
<a href="/sign_out" align = "right">Sign Out</a>
</div>
<h1>Spotipyn Player Test</h1>
<h2>Title - Artist</h2><br>
<a><img src="{{ url_for('static', filename='albumcover.png') }}" height="500" width="500" class="albumcover"/></a><br>

<div class="footer">
    <a href="{{ test }}"><img src="{{ url_for('static', filename='shufflebutton.png') }}" height="50" width="75" class="button"/></a>
	<a href="{{ test }}"><img src="{{ url_for('static', filename='backwardbutton.png') }}" height="50" width="50" class="button" style = "margin-left: 10px;"/></a>
	<a href="{{ test }}"><img src="{{ url_for('static', filename='playbutton.png') }}" height="75" width="75" class="button" style = "margin-left: 10px; margin-right: 10px;"/></a>
	<a href="{{ test }}"><img src="{{ url_for('static', filename='forwardbutton.png') }}" height="50" width="50" class="button" style = "margin-right: 10px;" /></a>
	<a href="{{ test }}"><img src="{{ url_for('static', filename='loopbutton.png') }}" height="65" width="65" class="button"/></a>
</div>

</body>