<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Spotipyn</title>

    <!-- Fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">

    <!-- bootstrap.css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- The Spotify Playback API. -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>

    <!-- The Spotify Web API JS wrapper. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spotify-web-api-js/1.5.2/spotify-web-api.min.js" integrity="sha512-BctYl8DMX/Oz6Y5xdcvA00Irxz78pMLfyutiXl3h4fUT6cNllPKYnm4HhG4p/wJgNAtOs//3EsYO+qkaThXEGA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">

    <!-- Scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/togglesidebar.js') }}"></script>

    <!-- Favicon. -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="32x32"/>
</head>
<body>

<!-- Access token to be passed into other modules. -->
<script type="text/javascript">
    const token = "{{ access_token }}";
</script>

<div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="list">
        <div class="item"><a href="/" target="_self">Home</a></div>
        <div class="item"><a href="/playlist" target="_self">Playlists</a></div>
        <div class="item"><a href="/albums" target="_self">Albums</a></div>
        <div class="item"><a href="/pins" target="_self">Pins</a></div>
    </div>
</div>

<div class="body-text">
    <!-- body content -->
</div>

<div id="login">
    {% block login %}
    {% endblock %}
</div>


<a href="/logout" class="btn btn-primary btn-lg" style="font-size: 2rem; position: absolute; top: 5%; right: 5%">Sign Out</a>

<div id="playlist">
    {% block playlist %}{% endblock %}
</div>

<!-- The bread and butter of the player. -->
<div class="player">
    <div class="album-cover">
        <img src="" id="album-cover" alt=""/>
    </div>

    <div class="song">
        <p id="song-name"></p>
    </div>

    <div class="artist">
        <p id="artist-name"></p>
    </div>

    <div class="controller">
        <img src="{{ url_for('static', filename='img/player/shuffle_button.png') }}" id="shuffle" alt=""/>
        <img src="{{ url_for('static', filename='img/player/fast_backwards_button.png') }}" id="fast_backwards" alt=""/>
        <img src="{{ url_for('static', filename='img/player/play_button.png') }}" id="play" alt="">
        <img src="{{ url_for('static', filename='img/player/fast_forward_button.png') }}" id="fast_forward" alt=""/>
        <img src="{{ url_for('static', filename='img/player/loop_button.png') }}" id="loop" alt=""/>
    </div>

    <div class="playback">
        <p id="playback-start">0:00</p>
        <progress id="playback-bar" value="0" max="0"></progress>
        <p id="playback-end">0:00</p>
    </div>

    <div class="volume">
        <img src="{{ url_for('static', filename='img/player/unmute_button.png') }}" id="volume" alt=""/>
        <label for="volume-bar"></label><input type="range" id="volume-bar" name="volume-bar" min="0" max="1" value="0" step="0.05">
    </div>

    <!-- The player's .js script. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}"></script>

</div>
</body>